html {
    min-height: 100%;
    width: 100%;
    position: relative;
}

body {
    background-color: #F7F7F7;
    line-height: normal;
    color: #000;
}

html, button, input, select, textarea, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

blockquote {
    border-left: 1px solid #777;
    padding: 0 0 0 1em;
}

img {
    height: auto;
}

p {
    font-size: 1em;
}

.hidden, [hidden] {
    display: none !important;
}

.nav-menu {
    border-bottom: .1em solid #EEE;
    white-space: normal;
}

.header {
    text-align: left;
    margin-bottom: .5em;
}

    .header ul li {
        height: auto;
    }
    
    .header ul {
        transition: max-height .2s;
    }

    .header a {
        font-weight: 600;
        font-family: "Avenir Next", "Corbel", sans-serif;
        transition: background-color .1s;
    }

.pull-right {
    float: right;
}

.posts-name {
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 1em;
    margin-top: 1em;
    font-family: "Avenir Next", "Corbel", sans-serif;
}

.posts {
    list-style-type: none;
    padding-left: 1em;
    padding-bottom: 1em;
    line-height: normal;
}

    .posts li p {
        margin-top: 0;
    }

    .posts li {
        margin-bottom: 1em;
    }

        .posts li a {
            color: #369;
            text-decoration: none;
        }


.footnote {
    color: #777;
    font-size: x-small;
    font-weight: 500;
}

    .footnote a {
        color: #777 !important;
    }

        .footnote a:hover {
            text-decoration: underline;
            color: #369;
        }

.footer {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 100%;
    bottom: 0;
}


.footer-content {
    border-top: .1em solid #EEE;
}

    .footer-content a {
        font-size: 80%;
        color: #aaa;
    }

        .footer-content a.social {
            opacity: .5;
            font-size: 100%;
            margin: .5em 1em;
            padding: 0;
            text-indent: -999em;
            height: 1.5em;
            width: 1.5em;
            transition: opacity .1s;
        }

            .footer-content a.social:hover {
                opacity: 1;
            }

        .footer-content a.github {
            border-radius: 50%;
            background: url("/img/mark-github.svg") no-repeat top left/100%;
        }

        .footer-content a.feed {
            border-radius: 20%;
            background: url("/img/feed-icon.svg") no-repeat top left/100%;
        }
        
        .footer-content a.goodreads {
            border-radius: 13%;
            background: url("/img/goodreads_icon.png") no-repeat top left/100%;
        }

    .footer-content ul {
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        padding-left: 0;
    }

#gototop-btn {
    display: inline-block;
    font-size: 80%;
}

#foot-name {
    text-transform: none;
    font-size: 80%;
    color: #aaa;
}

.post {
    padding-left: .5em;
}

    .post h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
    }

.post-content {
    z-index: 9;
    overflow: auto;
    padding: 0;
    padding-bottom: 3em;
    font-size: .9em;
    line-height: 1.6;
}

.post-content img {
	max-width: 100%;
	height: auto;
}

.post a {
    color: #c05b4d;
    text-decoration: none;
    transition: color .1s;
}

    .post a:hover {
        color: #a5473a;
        text-decoration: underline;
    }

.post h1 {
    font-size: 1.8em;
}

.post h2 {
    font-size: 1.6em;
}

.post h3 {
    font-size: 1.4em;
}

.post h4 {
    font-size: 1.3em;
}

.post h5 {
    font-size: 1.2em;
}

.post h6 {
    font-size: 1.1em;
}

.post-title {
    margin-top: 0;
    margin-bottom: 2em;
}

    .post-title h1 {
        font-weight: 500;
        font-size: 2.5em;
        line-height: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }
    
.highlight pre {
    overflow: visible;
    white-space: pre-wrap;
    font-family: "Menlo", "Consolas", monospace;
    font-size: 0.7em;
}

.menu-btn {
    float: right;
    padding: .5em 1em;
    text-decoration: none;
    color: #484848;
    font-weight: 700;
    cursor: pointer;
}

#toggle-content li {
    clear: both;
    height: auto;
    background-color: #F7F7F7;
}

#toggle-content {
    display: block;
}

#show-btn {
    display: none;
}

input#toggle:checked ~ #show-btn {
    display: block;
}

input#toggle:checked ~ #hide-btn {
    display: none;
}

input#toggle:checked ~ #hide-btn-fullpage {
    display: none;
}

input#toggle:not(:checked) ~ #hide-btn-fullpage {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-indent: -999em;
}

input#toggle:checked ~ ul {
    max-height: 0;
    overflow: hidden;
}

input#toggle:not(:checked) ~ ul {
    display: block;
    z-index: 8;
    max-height: 4.7em;
}

input#toggle:checked ~ ul > li {
    overflow: hidden;
    display: block;
}

input#toggle:not(:checked) ~ ul > li {
    width: 100%;
    overflow: visible;
}

@media screen and (min-width:48em) {
    .menu-btn {
        display: none;
    }

    input#toggle:checked ~ #show-btn {
        display: none;
    }

    input#toggle:checked ~ ul {
        max-height: 2.4em;
    }

        input#toggle:checked ~ ul > li {
            display: inline-block;
        }
        
        input#toggle:not(:checked) ~ ul > li {
            width: auto;
        }

    #toggle-content {
        float: right;
    }
}
