<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Title }}">
    <meta name="author" content="{{ .Site.Author.name }}">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}css/fonts.css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/pure-min.css&pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}css/custom.css">

    <!--- highlight js -->
    {{ if .Site.Params.highlight }}
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}highlight/styles/{{ .Site.Params.highlight }}.css">
    {{ else }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    {{ end }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
